body {
  margin: 0;
  font-family: "Pacifico", cursive;
  background: linear-gradient(45deg, #000, #333);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.invitation-container {
  max-height: 100dvh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  border: 3px solid #ffd700;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  opacity: 0;
  transform: scale(0.9);
}

.invitation-title {
  font-size: 3em;
  color: #ffd700;
  margin: 0;
  opacity: 0;
}

.invitation-subtitle,
.name,
.date-time p {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ffd700;
  opacity: 0;
}

.reveal-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffd700;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.3s, background-color 0.3s;
}

.reveal-button:hover {
  transform: scale(1.1);
  background-color: #fff;
}

.location {
  margin-top: 20px;
  font-size: 1.2em;
  display: none;
  color: #ffd700;
  animation: fadeInLocation 1s ease-out;
}

a {
  text-decoration: none;
  color: #c0c0c0;
}

@keyframes fadeInLocation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-u {
  width: 18px;
  filter: invert(100%) brightness(0) saturate(100%) invert(30%) sepia(100%)
    saturate(600%) hue-rotate(-20deg) brightness(105%) contrast(100%) !important;
}

.icon-w {
  width: 18px;
  filter: invert(100%) brightness(0) saturate(100%) invert(30%) sepia(100%) 
    saturate(600%) hue-rotate(90deg) brightness(105%) contrast(100%) !important;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 1.5s ease forwards;
}

.circle {
  /* border: 5px solid #ffd700; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span {
  font-size: 4.5em;
  color: #ffd700;
}

img {
  height: 175px;
  object-fit: contain;
}

.text {
  margin-top: 20px;
  font-size: 2.25rem;
  color: #c0c0c0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader-container {
  display: grid;
  grid-template-areas:
    "circle"
    "text";
}

.circle {
  grid-area: "circle";
}

.text {
  grid-area: "text";
  text-align: center;
}
